* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #ffb4fc !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
  }
  
 